* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fixedsys', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all .3s linear;
    scrollbar-width: 0;
}

*::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: #000;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: fixedsys;
    src: url('FSEX300.ttf');
}

.lol-ui-alist {
    padding: 2.5%;
    width: 100%;
    max-width: 120vmin;
}

.lol-ui-alist>a {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    border-radius: 1em;
    margin-bottom: 1em;
}

.lol-ui-alist>a>div {
    width: 90%;
    margin: 2.5%;
    font-weight: bold;
}

.lol-ui-alist>a>img {
    width: 4%;
    margin: 2.5%;
    height: 4%;
    padding: 0;
}

.web {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
        "topbar topbar"
        "nav code";
    grid-template-columns: 30vmin calc(100vw - 30vmin);
    grid-template-rows: 4em calc(100vh - 4em);
}

.top-bar {
    height: 4em;
    width: 100%;
    background-color: #333;
    display: flex;
    grid-area: topbar;
}

.top-bar>img {
    margin: .5em;
    height: 3em;
    border-radius: .5em;
}

.top-bar>* {
    margin: .5em;
}

.top-bar>div {
    line-height: 3em;
    font-weight: bold;
}

.web>.lol-ui-left-nav {
    height: calc(100vh - 4em);
    width: 30vmin;
    grid-area: nav;
    background-color: #222;
    padding: .5em;
}

.lol-ui-left-nav>div {
    height: 1.5em;
    line-height: 1em;
    padding: .25em;
    font-weight: bolder;
    background-color: #333;
    border-radius: .2em;
    user-select: none;
}

.lol-ui-left-nav>div:hover {
    background-color: #000;
}

#code {
    grid-area: code;
    height: calc(100vh - 4em);
    width: calc(100vw - 30vmin);
    overflow: scroll;
    background-color: #000;
}

.top-layer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-color: #000;
    z-index: 2;
}